<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>Form Elements - Ace Admin</title>
		<meta name="description" content="Common form elements and layouts" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<#include "../../admin/head.htm"/>
		
		<link href="${base}/plugins/uploadify/uploadify.css" rel="stylesheet" type="text/css" />
		<!-- <script type="text/javascript" src="${base}/plugins/uploadify/jquery-1.3.2.min.js"></script> -->
 		<script type="text/javascript" src="${base}/plugins/uploadify/swfobject.js"></script>
		<script type="text/javascript" src="${base}/plugins/uploadify/jquery.uploadify.v2.1.4.min.js"></script>	
	</head>
	<body>
		<div class="container-fluid" id="main-container">
			<div id="main-content" class="clearfix" style="margin-left:0px;">
					<div id="page-content" class="clearfix">
						<div class="row-fluid">
							<!-- PAGE CONTENT BEGINS HERE -->
							<form id="submitForm" class="form-horizontal" action="${base}/district/insert.do" method="POST" style="text-align: center;">
							<input type="hidden" name="id" value="${(pd.id)!}" />
								<div class="control-group">
									<div class="row-fluid">
									<span class="input-icon" style="width:200px">
										<select id="form-field-select-1" style="width: 232px;" name="dayOfWeek">
											<option value=" ">全部</option>
											<option value="周日">周日</option>
											<option value="周一">周一</option>
											<option value="周二">周二</option>
											<option value="周三">周三</option>
											<option value="周四">周四</option>
											<option value="周五">周五</option>
											<option value="周六">周六</option>
										</select>
									</span>
									</div>
								</div>
								<div class="control-group">
									<span class="input-icon" style="width:200px">
										<input style="width:200px" autocomplete="off" id="nav-search-input-start" type="text" name="startTime" value="${(pd.startTime)!}" placeholder="开始时间  hh:mm" >
										<i id="nav-search-icon" class="icon-search"></i>
									</span>
								</div>
								<div class="control-group">
									<span class="input-icon" style="width:200px">
										<input style="width:200px;" autocomplete="off" id="nav-search-input-end" type="text" name="endTime" value="${(pd.endTime)!}" placeholder="结束时间  hh:mm">
										<i id="nav-search-icon" class="icon-search"></i>
									</span>
								</div>
									<button id='editbutton' class="btn btn-info" type="button"><i class="icon-ok"></i>保存</button>
									&nbsp; &nbsp; &nbsp;
									<button id="close" class="btn" type="reset"><i class="icon-undo"></i>关闭</button>
							 </form>
							<!-- PAGE CONTENT ENDS HERE -->
						 </div><!--/row-->
					</div><!--/#page-content-->
			</div><!-- #main-content -->
		</div><!--/.fluid-container#main-container-->
		<a href="#" id="btn-scroll-up" class="btn btn-small btn-inverse">
			<i class="icon-double-angle-up icon-only"></i>
		</a>
		<!-- basic scripts -->
		<!-- <script src="${base}/static/1.9.1/jquery.min.js"></script> -->
		<script type="text/javascript">
		window.jQuery || document.write("<script src='${base}/static/js/jquery-1.9.1.min.js'>\x3C/script>");
		</script>
		
		<script src="${base}/static/js/bootstrap.min.js"></script>
		<!-- page specific plugin scripts -->
		
		<!--[if lt IE 9]>
		<script type="text/javascript" src="${base}/static/js/excanvas.min.js"></script>
		<![endif]-->
		<script type="text/javascript" src="${base}/static/js/jquery-ui-1.10.2.custom.min.js"></script>
		<script type="text/javascript" src="${base}/static/js/jquery.ui.touch-punch.min.js"></script>
		<script type="text/javascript" src="${base}/static/js/chosen.jquery.min.js"></script>
		<script type="text/javascript" src="${base}/static/js/fuelux.spinner.js"></script>
		<script type="text/javascript" src="${base}/static/js/bootstrap-datepicker.min.js"></script>
		<script type="text/javascript" src="${base}/static/js/bootstrap-timepicker.min.js"></script>
		<script type="text/javascript" src="${base}/static/js/date.js"></script>
		<script type="text/javascript" src="${base}/static/js/daterangepicker.min.js"></script>
		<script type="text/javascript" src="${base}/static/js/bootstrap-colorpicker.min.js"></script>
		<script type="text/javascript" src="${base}/static/js/jquery.autosize-min.js"></script>
		<script type="text/javascript" src="${base}/static/js/jquery.inputlimiter.1.3.1.min.js"></script>
		<!-- ace scripts -->
		<script src="${base}/static/js/ace-elements.min.js"></script>
		<script src="${base}/static/js/ace.min.js"></script>
		<!-- inline scripts related to this page -->

    <script type="text/javascript" charset="utf-8" src="${base}/plugins/ueditor/ueditor.config.js"></script>
    <script type="text/javascript" charset="utf-8" src="${base}/plugins/ueditor/ueditor.all.min.js"> </script>
    <!--建议手动加在语言，避免在ie下有时因为加载语言失败导致编辑器加载失败-->
    <!--这里加载的语言文件会覆盖你在配置项目里添加的语言类型，比如你在配置项目里配置的是英文，这里加载的中文，那最后就是中文-->
    <script type="text/javascript" charset="utf-8" src="${base}/plugins/ueditor/lang/zh-cn/zh-cn.js"></script>
		
		<!-- layer 弹出框处理 -->
		<script type="text/javascript" src="${base}/plugins/layer2.0/layer.js"></script>
		<script type="text/javascript">
		$("#editbutton").on('click',function(){
			var dayOfWeek = $("#form-field-select-1 option:selected").val();
			if(dayOfWeek == null || dayOfWeek == "" || dayOfWeek == undefined){
				layer.msg("日期信息不完善~~");  
				return;
			}
			var startTime = $("#nav-search-input-start").val();
         	var endTime =  $("#nav-search-input-end").val();
			var testTime = /^(([0-1][0-9])|2[0-3]):[0-5]\d/;
		    if (null == startTime || ''==startTime || null == endTime || ''==endTime || startTime ==undefined || endTime == undefined) {
		    	layer.msg("时间不能为空~~");
             	return;
             }
             if (endTime <= startTime) {
            	layer.msg("结束时间要大于起始时间~~");
             	return;
			}
             if ((!testTime.test(startTime)) || (!testTime.test(endTime))) {
            	layer.msg("时间输入错误~~");
				return;
			}
             
			var ajaxParams = $("#submitForm").serialize();
			$.ajax({
				type : "POST",
				url : "${base}/timeDistrict/updateEdit.do",
				data : ajaxParams,
				datatype : "json",// "xml", "html", "script", "json", "jsonp", "text".
				beforeSend : function() {
					$("#msg").html("logining");
				},
				success : function(data) {// 成功返回之后调用的函数
					var jsondata = data;// eval('(' + data + ')');
					var jsondata = data;// eval('(' + data + ')');
					if(data.success){
						parent.layer.msg(data.msg, {
							shade: [0.9, '#000'],
						    icon: 6,
						    time: 1500 //2秒关闭（如果不配置，默认是3秒）
						}, function(){
							parent.reload_page();
							var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
							parent.layer.close(index);
						}); 							
					}else{
						parent.layer.msg(data.msg, {
							shade: [0.9, '#000'],
						    icon: 6,
						    time: 1500 //2秒关闭（如果不配置，默认是3秒）
						}, function(){
						}); 	
					}
					//console.log(data.success);
				},
				complete : function(XMLHttpRequest, textStatus) {// 调用执行后调用的函数
					
				},
				error : function() {// 调用出错执行的函数
				}
			});
		});
		
		$('#close').click(function(){
			var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
			parent.layer.close(index);
		});
		</script>
	</body>
</html>
