<!DOCTYPE html>
<html>
<#include "/common/head.htm"/>
<body>
	<#include "/common/topbar.htm"/>
	<div class="wrapper">
		<h1>教练博文</h1>
		<div class="fs_coach_say">
			<div class="cont">
				<ul>
					<#if pageList??>
						<#list pageList.results as data>
							<li>
								<div class="title"><img src="${user.pic}" border="0"><p class="name">${user.cname}<span>${user.ename}</span></p><p class="time">${(data.createTime?string("yyyy-MM-dd HH:mm:ss"))!}</p></div>
								<div class="text_box"><a href="/coach/blog.htm?id=${data.id}"><p>${data.title}</p><span>${data.summary}</span></a></div>
								<div class="b_bar"><span class="icon1">${data.readAmount}</span> | <span class="icon2">${data.shareAmount}</span> | <span class="icon3">${data.likeAmount}</span></div>
							</li>
						</#list>
					</#if>
					<!--  
					<li>
						<div class="title"><img src="/static/img/top_coach1.jpg" border="0"><p class="name">可可维奇<span>Kokovic</span></p><p class="time">2015-09-16 23:35:57</p></div>
						<div class="text_box"><a href="futurestar_college_coachsay_detail.html"><p>凡事预则立，不预则废</p><span>昨天睡醒起来上微博看了一眼，有球迷留言问你怎么不说话了？被打脸了吧？ 在这里需要说明一下，我的第一个动作都昨天睡醒起来上微博看了一眼，有球迷留言问你怎么不说话了？被打脸了吧？ 在这里需要说明一下，我的第一个动作都昨</span></a></div>
						<div class="b_bar"><span class="icon1">200</span> | <span class="icon2">50</span> | <span class="icon3">50</span></div>
					</li>
					<li>
						<div class="title"><img src="/static/img/top_coach1.jpg" border="0"><p class="name">可可维奇<span>Kokovic</span></p><p class="time">2015-09-16 23:35:57</p></div>
						<div class="text_box"><a href="futurestar_college_coachsay_detail.html"><p>凡事预则立，不预则废</p><span>昨天睡醒起来上微博看了一眼，有球迷留言问你怎么不说话了？被打脸了吧？ 在这里需要说明一下，我的第一个动作都昨天睡醒起来上微博看了一眼，有球迷留言问你怎么不说话了？被打脸了吧？ 在这里需要说明一下，我的第一个动作都昨</span></a></div>
						<div class="b_bar"><span class="icon1">200</span> | <span class="icon2">50</span> | <span class="icon3">50</span></div>
					</li>
					<li>
						<div class="title"><img src="/static/img/top_coach1.jpg" border="0"><p class="name">可可维奇<span>Kokovic</span></p><p class="time">2015-09-16 23:35:57</p></div>
						<div class="text_box"><a href="futurestar_college_coachsay_detail.html"><p>凡事预则立，不预则废</p><span>昨天睡醒起来上微博看了一眼，有球迷留言问你怎么不说话了？被打脸了吧？ 在这里需要说明一下，我的第一个动作都昨天睡醒起来上微博看了一眼，有球迷留言问你怎么不说话了？被打脸了吧？ 在这里需要说明一下，我的第一个动作都昨</span></a></div>
						<div class="b_bar"><span class="icon1">200</span> | <span class="icon2">50</span> | <span class="icon3">50</span></div>
					</li>
					<li>
						<div class="title"><img src="/static/img/top_coach1.jpg" border="0"><p class="name">可可维奇<span>Kokovic</span></p><p class="time">2015-09-16 23:35:57</p></div>
						<div class="text_box"><a href="futurestar_college_coachsay_detail.html"><p>凡事预则立，不预则废</p><span>昨天睡醒起来上微博看了一眼，有球迷留言问你怎么不说话了？被打脸了吧？ 在这里需要说明一下，我的第一个动作都昨天睡醒起来上微博看了一眼，有球迷留言问你怎么不说话了？被打脸了吧？ 在这里需要说明一下，我的第一个动作都昨</span></a></div>
						<div class="b_bar"><span class="icon1">200</span> | <span class="icon2">50</span> | <span class="icon3">50</span></div>
					</li>
					<li>
						<div class="title"><img src="/static/img/top_coach1.jpg" border="0"><p class="name">可可维奇<span>Kokovic</span></p><p class="time">2015-09-16 23:35:57</p></div>
						<div class="text_box"><a href="futurestar_college_coachsay_detail.html"><p>凡事预则立，不预则废</p><span>昨天睡醒起来上微博看了一眼，有球迷留言问你怎么不说话了？被打脸了吧？ 在这里需要说明一下，我的第一个动作都昨天睡醒起来上微博看了一眼，有球迷留言问你怎么不说话了？被打脸了吧？ 在这里需要说明一下，我的第一个动作都昨</span></a></div>
						<div class="b_bar"><span class="icon1">200</span> | <span class="icon2">50</span> | <span class="icon3">50</span></div>
					</li>
					<li>
						<div class="title"><img src="/static/img/top_coach1.jpg" border="0"><p class="name">可可维奇<span>Kokovic</span></p><p class="time">2015-09-16 23:35:57</p></div>
						<div class="text_box"><a href="futurestar_college_coachsay_detail.html"><p>凡事预则立，不预则废</p><span>昨天睡醒起来上微博看了一眼，有球迷留言问你怎么不说话了？被打脸了吧？ 在这里需要说明一下，我的第一个动作都昨天睡醒起来上微博看了一眼，有球迷留言问你怎么不说话了？被打脸了吧？ 在这里需要说明一下，我的第一个动作都昨</span></a></div>
						<div class="b_bar"><span class="icon1">200</span> | <span class="icon2">50</span> | <span class="icon3">50</span></div>
					</li>
					-->
				</ul>
				<#include "/common/page.htm"/>
			</div>
			<div class="fs_top_coach col">
				<#if tops??>
					<#list tops as top>
						<#if top_index < 4> 
							<a href="/coach/index/${top.id}.htm"><img src="${top.pic}" border="0"><p>${top.cname}<span>${top.ename}</span></p></a>
						</#if>
					</#list>
				</#if>
				<!--  
				<a href="futurestar_college_coachsay.html"><img src="/static/img/top_coach1.jpg" border="0"><p>可可维奇<span>Kokovic</span></p></a>
				<a href="futurestar_college_coachsay.html"><img src="/static/img/top_coach2.jpg" border="0"><p>拉迪<span>Rade</span></p></a>
				<a href="futurestar_college_coachsay.html"><img src="/static/img/top_coach3.jpg" border="0"><p>伊凡<span>Ivan</span></p></a>
				<a href="futurestar_college_coachsay.html"><img src="/static/img/top_coach4.jpg" border="0"><p>弗拉达<span>Vlada</span></p></a>
				-->
			</div>
		</div>
	</div>
	<#include "/common/footer.htm"/>
	<script>
	$(function(){		
		//导航标记
		nav_mark('futurestar')
	})
	function gotoPage(page){
		window.location.href = '/coach/index/${user.id}.htm?currPage='+page;
	}
	</script>
</body>
</html>