<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tianfang.business.mapper.SportInformationExMapper"> 
	<select id="pageRankingMax" resultType="java.lang.Integer">
		SELECT
		max(t.page_ranking)
		FROM
		sport_information t
	</select>
</mapper>