<head>
	<meta charset="UTF-8">
	<meta property="qc:admins" content="163175371762525307243636" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<META NAME="Title" CONTENT="聚运动  ${(news.title)!}">
	<META NAME ="keywords" CONTENT="聚运动  ${(news.title)!}">
	<META NAME="description" CONTENT="聚运动  ${(news.subtract)!}">
    <link rel="icon" type="image/gif" href="/static/img/favicon.ico">
    <title>聚运动</title>
    <link href="/static/css/style.css" rel="stylesheet" />
	<link rel="stylesheet" type="text/css" href="/static/css/jquery.ad-gallery.css">
	<link rel="stylesheet" type="text/css" href="/static/css/ad-gallery.css">    
		
	<script src="/static/js/jquery-2.1.3.min.js"></script>
	<script src="/static/js/layer-1.9/layer.js"></script>
	<script src="/static/js/layer-1.9/extend/layer.ext.js"></script>
	<script src="/static/js/jquery.form.js"></script>
	<script src="/static/js/jquery.upload.js"></script>
	<script src="/static/js/phoneReg.upload.js"></script>
	<script src="/static/js/common.js"></script>
	<script src="http://res.wx.qq.com/connect/zh_CN/htmledition/js/wxLogin.js"></script>
	<script src="/static/js/jquery.cookie.js"></script>
	<script src="/static/js/login.js"></script>
	<script src="/static/js/jquery.SuperSlide.js"></script>

	<!--sina-->
	<script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js?appkey=1742792800" type="text/javascript" charset="utf-8"></script>
	
	<script type="text/javascript" src="/static/js/jquery.ad-gallery.min.js"></script>
	<script src="/static/js/loadUser.js"></script>
	
	<!--start QQ -->
	<script type="text/javascript" src="http://qzonestyle.gtimg.cn/qzone/openapi/qc_loader.js" data-appid="101211878" data-redirecturi="http://www.jujusports.cn/result.html" charset="utf-8"></script>
	<!--end QQ -->
	<!--sina-->
	<script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js?appkey=1742792800" type="text/javascript" charset="utf-8"></script>
</head>