<!DOCTYPE html>
<html>
<link href="/static/css/competition.css" rel="stylesheet" />
<#include "/common/head.htm"/>

	<body>
		<#include "/common/topbar.htm"/>
		
		<div class="wrapper">
			<div class="content">
				<h1>热门赛事</h1>
				<div class="wrap">
					<img src="/static/img/competition1.png" />
					<div class="bt match-detail">
						了解详情>>
					</div>
				</div>
				<div class="wrap last">
					<img src="/static/img/competition2.png" />
					<div class="bt match-detail">
						了解详情>>
					</div>
				</div>
			</div>
		</div>
		<#include "/common/footer.htm"/>
		<script src="/static/js/competition.js"></script>
		<script src="/static/sport/competition_game.js"></script>
	</body>

</html>